@font-face {
    font-family: 'Gordita Light';
      src: url('../fonts/Gordita Light.otf') format('opentype');
      font-weight: 400;
      font-style: normal;
}

@font-face {
    font-family: 'Gordita Regular';
      src: url('../fonts/Gordita Regular.otf') format('opentype');
      font-weight: 400;
      font-style: normal;
}

@font-face {
    font-family: 'Gordita Medium';
      src: url('../fonts/Gordita Medium.otf') format('opentype');
      font-weight: 500;
      font-style: normal;
}

@font-face {
    font-family: 'Gordita Bold';
      src: url('../fonts/Gordita Bold.otf') format('opentype');
      font-weight: 600;
      font-style: normal;
}

@font-face {
    font-family: 'Gordita Black';
      src: url('../fonts/Gordita Black.otf') format('opentype');
      font-weight: 700;
      font-style: normal;
}

:root {
    --primaryColor: #f4d7a1;
    --primaryColor2:rgb(214, 154, 42);
    --secondary: #1B3839;
    --white: #ffffff;
    --light: rgba(255, 255, 255, 0.7);
    --lightgrey: #787878;
    --darkgrey: #1d1d1d;
}

body {
    font-family: 'Gordita Regular', sans-serif;
    background: #F3F7F6;
}

a {
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

p {
    margin: 0;
    font-size: 0.85rem;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-start {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.flex-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.materialButton {
    color: var(--white) !important;
    background-color: var(--darkgrey);
    padding: 1.1rem 1.35rem;
    border-radius: 4px;
    transition: 0.65s;
}

.materialButton:hover {
    transform: scale(1.05);
}

.materialNavSection {
    padding: 1.5rem 3rem;
    position: absolute;
    width: 100%;
    top: 0;
    z-index: 5;
}

.materialNavSection.mobile {
    display: none;
}

.materialNavSection nav img {
    width: 80px;
}

.materialNavSection ul {
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.materialNavSection ul li {
    display: inline;
}

.materialNavSection li {
    font-family: 'Gordita Medium';
    font-size: 0.8rem;
    padding: 0 2rem;
    list-style-type: none;
}

.materialNavSection li:last-child {
    padding-right: 0;
}

.materialNavSection li a {
    color: var(--lightgrey);
    text-decoration: none;
    transition: color 0.35s;
}

.materialNavSection li a.active {
    color: var(--darkgrey);
}

.materialNavSection li a:hover {
    color: var(--darkgrey);
}

.materialNavSection.mobile {
    width: 100%;
}

.materialNavSection.mobile li {
    text-align: center;
    padding: 0 0.85rem;
}

.materialNavSection.mobile li:last-child {
    padding-right: 0;
    cursor: pointer;
}

.materialNavSection.mobile li svg {
    stroke: var(--darkgrey);
    stroke-width: 1;
}

.materialNavSection.mobile nav.dropdown {
    background-color: var(--darkgrey);
    width: 100%;
    height: 0;
    position: fixed;
    top: 100px;
    left: 0;
    z-index: 5;
    transition: 0.65s;
    overflow: hidden;
}

.materialNavSection.mobile nav.dropdown ul {
    padding: 2rem 0;
}

.materialNavSection.mobile nav.dropdown.active {
    height: 100%;
}

.materialNavSection.mobile nav.dropdown li {
    padding: 1.5rem 0;
    font-size: 1.2rem;
    font-family: 'Gordita Light';
}

.materialNavSection.mobile nav.dropdown li a {
    color: var(--white);
}

.materialNavSection.mobile nav.dropdown li a.active {
    color: var(--primaryColor);
}

/* Tablet */
@media only screen 
and (min-width: 480px) 
and (max-width: 1024px)  {
    .materialNavSection {
        display: none;
        padding: 1.75rem 2.5rem;

    }
    .materialNavSection.mobile {
        display: block;
    }
}

/* Mobile Phones */
@media only screen 
and (min-width: 320px) 
and (max-width: 480px) {
    .materialNavSection {
        display: none;
        padding: 1.45rem 1.5rem;
    }
    .materialNavSection.mobile {
        display: block;
    }
    .materialNavSection nav img {
        width: 60px;
    }
}




/* Main Body Right Centent */
.mainBodyRightContainer {
    display: none; 
    position: fixed;
    top: 300px;
    left: 0;
    z-index: 12;
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
    background: rgba(255, 255, 255, 0.035);
    backdrop-filter: blur( 12px );
    -webkit-backdrop-filter: blur( 12px );
}

.mainBodyRightDivCloseContainer {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 13;
    width: 100%;
    height: inherit;
    overflow-x: hidden;
}

.mainBodyRightContainer.active {
    display: block;
}

.mainBodyRightDiv {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 14;
    width: calc(100% / 1.8);
    height: 100vh;
    padding: 2.2em 2.75rem;
    background: var(--white);
    box-shadow: 0 8px 25px rgba(16, 16, 16, 0.25);
}

.mainBodyRightDivTopBar {
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 0;
}

.mainBodyRightDivTopBar svg {
    cursor: pointer;
    fill: var(--darkgrey);
    margin-right: 0.65rem;
    width: 34px;
    height: 34px;
    border-radius: 50%;
    padding: 0.15rem;
    opacity: 0.95;
    transition: 0.45s;
}

.mainBodyRightDivTopBar svg:hover {
    opacity: 1;
}

.multiSelectOptionsDiv {
    display: flex;
    flex-wrap: wrap;
}

.multiSelectOptionsDiv > label {
    flex: 49%;
    display: block;
    position: relative;
    padding-left: 30px;
    padding-bottom: 10px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 13.5px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.multiSelectOptionsDiv label input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.multiSelectOptionsDiv .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: var(--lightgrey);
    border-radius: 50%;
}

.multiSelectOptionsDiv label:hover input ~ .checkmark {
    background-color: var(--darkgrey);
}

.multiSelectOptionsDiv label input:checked ~ .checkmark {
    background-color: var(--white);
    border: 5px solid #afda00;
}

.multiSelectOptionsDiv .checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.multiSelectOptionsDiv label .checkmark input:checked ~ .checkmark:after {
    display: block;
}

.multiSelectOptionsDiv label .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

/* Tablet */
@media only screen 
and (min-width: 480px) 
and (max-width: 1024px)  {
    .mainBodyRightDiv {
        width: calc(100% / 1.2);
        height: 100vh;
    }
}

/* Mobile Phones */
@media only screen 
and (min-width: 320px) 
and (max-width: 480px) {
    .mainBodyRightDiv {
        width: calc(100% / 1.075);
        height: 100vh;
        padding: 2rem 0.95rem;
    }
    .mainBodyRightDivTopBar svg {
        width: 30px;
        height: 30px;
    }
}



/************ Hero Section ************/

.heroSection {
    margin: 7rem 4rem;
    padding: 10rem 8rem 5rem 6rem;
    background-image: url(../img/hero-bg-7.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 25px;
}

.heroSection h1 {
    color: #dcfd51;
    text-align: center;
    font-family: 'Gordita Black', sans-serif;
    letter-spacing: 0.2px;
    font-size: 3.85rem;
}

.heroSection p {
    text-align: center;
    font-size: 1.1rem;
    font-family: 'Gordita Medium', sans-serif;
    color: var(--light);
    padding-top: 1.65rem;
}

.heroSection .materialBookingFormContainer {
    display: flex;
    justify-content: center;
    margin-top: 3rem;
}

.heroSection .bookingDateTimeContainer {
    opacity: 0.2;
}

.heroSection .bookingDateTimeContainer.active {
    opacity: 1;
}

.heroSection .materialBookingForm {
    color: var(--primaryColor4);
    width: calc(100% * 0.815);
    padding: 2.15rem 1.5rem;
    background: rgb(255, 255, 255);
    border-radius: 17px;
    margin-top: 3rem;
}

.heroSection .materialFormHeader {
    padding: 0.8rem 0;
    border-bottom: 1.35px solid #dbdbdb;

}

.heroSection .materialFormHeader h4 {
    font-family: 'Gordita Bold', sans-serif;
    color: var(--darkgrey);
    font-size: 1.25rem;
}

.heroSection .totalPriceDiv {
    display: none;
    margin-top: 1.2rem;
}

.heroSection .totalPriceDiv.active {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.heroSection .totalPriceDiv.active > div {
    flex: 49.2%;
    margin-top: 1rem;
}

.heroSection .totalPriceDiv h5 {
    font-weight: 400;
    font-size: 1.05rem;
}

.heroSection .totalPriceDiv h6 {
    font-weight: 400;
    font-size: 0.7rem;
    text-transform: uppercase;
    letter-spacing: 1.6px;
    padding-bottom: 0.65rem;
}

.heroSection .totalPriceDiv.inactive {
    display: none;
}

.heroSection .studioMembershipTime {
    text-align: left;
    font-size: 0.85rem;
    color: var(--lightgrey);
    padding-top: 0.45rem;
}

.heroSection .studioMembershipTime span {
    color: #02ce54;   
}

.heroSection .materialBookingForm label {
    color: var(--secondaryTextColor);
    font-size: 0.95rem;
    font-weight: 400;
    margin: 0 0 6px;
    letter-spacing: -0.2px;
}

.heroSection .materialBookingForm input, .heroSection .materialBookingForm select {
    appearance: none;
    outline: none;
    width: 100%;
    padding: 0.7rem 1rem;
    border: none;
    border: 1px solid #bdbdbd;
    border-radius: 7px;
    background: var(--secBGColor);
}

.heroSection .materialModalButton {
    cursor: pointer;
    border: 1px solid #bdbdbd;
    /* text-align: center; */
    padding: 0.7rem 1rem;
    font-size: 0.92rem;
    border-radius: 3px;
    transition: 0.45s;
}

.heroSection .materialModalButton span:first-child {
    border-radius: 5px;
    background: var(--darkgrey);
    padding: 2.75px 5px;
    margin-right: 0.45rem;
}

.heroSection .materialModalButton span svg {
    width: 17px;
    height: 10px;
    padding-bottom: 1.65px;
    stroke: var(--primaryColor);
    stroke-width: 5;
}

.heroSection .subButton {
    display: none;
    cursor: pointer;
    font-size: 0.8rem;
    margin: 3rem 0;
    margin-bottom: 0;
    padding: 0.85rem 0.35rem;
    border-radius: 70px;
    background: rgba(0,0,0,0.12);
    text-align: center;
    transition: 0.45s;
    width: 350px;
    font-family: 'Gordita Medium', sans-serif;
}

.subButton svg {
    stroke: var(--darkgrey);
    stroke-width: 2.35;
    width: 12px;
    margin-right: 1rem;
}

.heroSection .subButton.active {
    display: block;
}

.heroSection .materialBookingForm input[type="submit"] {
    color: var(--white);
    padding: 1.1rem 1rem;
    background: var(--darkgrey);
    border: none;
    opacity: 0.95;
    transition: 0.45s;
    margin-top: 2rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 3.78px;
    font-size: 0.78rem;
    font-family: 'Gordita Bold', sans-serif;
}

.heroSection .materialBookingForm input[type="submit"]:hover {
    opacity: 1;
    transform: scale(1.015);
}


/* Tablet */
@media only screen 
and (min-width: 480px) 
and (max-width: 1024px)  {
    
}

/* Mobile Phones */
@media only screen 
and (min-width: 320px) 
and (max-width: 480px) {
    .heroSection {
        margin: 7rem 1rem;
        padding: 7rem 0.45rem;
    }
    .heroSection h1 {
        letter-spacing: 0.1px;
        font-size: 2.97rem;
    }
    .heroSection p {
        font-size: 0.96rem;
    }
    .heroSection .materialBookingFormContainer {
        margin-top: 1.5rem;
    }
    .heroSection .materialBookingForm {
        width: 100%;
        padding: 2rem 0.5rem;
    }
    .mainBodyRightDivTopBar h4 {
        font-size: 1.1rem;
    }
    .multiSelectOptionsDiv > label {
        flex: 100%;
    }
    .multiSelectOptionsDiv .checkmark {
        width: 15px;
        height: 15px;
    }
    .heroSection .materialModalButton {
        font-size: 0.73rem;
        padding: 0.7rem;
    }
    .heroSection .materialModalButton span:first-child {
        padding: 4.65px;
    }
    .heroSection .materialInputForm {
        margin: 0.5rem 0;
    }
    .mainBodyRightContainer {
        backdrop-filter: blur( 5px );
        -webkit-backdrop-filter: blur( 5px );
    }
    .materialBookingForm .container-fluid {
        padding: 0 7px;
    }
    .heroSection .totalPriceDiv {
        text-align: left;
        margin-top: 2rem;
    }
    .heroSection .totalPriceDiv.active {
        flex-wrap: wrap;
    }
}

.membershipSection .membershipDiv {
    color: var(--white);
    border-radius: 45px;
    text-align: center;
    font-family: 'Gordita Bold', sans-serif;
    border: 15px solid #FFFFFF;
    height: 580px;
    max-height: 580px;
}

.membershipSection .membershipDiv .membershipDivImage {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 330px;
    padding: 5rem 3.5rem;
}

.membershipSection .membershipDiv .membershipDivContent {
    padding: 2.35rem 2rem;
}

.membershipSection .membershipDiv img {
    width: 270px;
}

.membershipSection .membershipDiv h3 {
    font-size: 1.5rem;
    font-family: 'Gordita Black', sans-serif;
}

.membershipSection .membershipDiv p {
    padding-top: 1.2rem;
    font-family: 'Gordita Medium', sans-serif;
    color: rgba(255, 255, 255, 0.753);
}

.membershipSection .membershipDiv.div-1 {
    background: #753ff6;
}

.membershipSection .membershipDiv.div-2 {
    color: var(--darkgrey);
    background: #f5e7be;
}

.membershipSection .membershipDiv.div-2 p {
    color: rgba(0, 0, 0, 0.753);
}

.membershipSection .membershipDiv.div-3 {
    color: var(--darkgrey);
    background: #dcfd51;
}

.membershipSection .membershipDiv.div-3 p {
    color: rgba(0, 0, 0, 0.753);
}






.profileBio {
    margin-top: 9rem;
}

.profileBio h4 {
    font-family: 'Gordita Medium', sans-serif;
}

.profileBio img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-right: 2rem;
}

.bookingDivContainer {
    width: 600px;
    padding: 1rem;
}

.materialTab {
    margin: 5rem 0;
    margin-bottom: 3rem;
}

.materialTab ul {
    list-style-type: none;
    padding-left: 0px;
    margin: 0;
}

.materialTab ul li {
    display: inline;
    padding: 0.65rem 0;
    padding-right: 4rem;
    color: var(--lightgrey);
    font-weight: 400;
    border-bottom: 0.68px solid #6d6d6d;
    cursor: pointer;
    font-size: 0.9rem;
    font-family: 'Gordita Medium';
}

.materialTab ul li.active {
    color: var(--primaryColor2);
    font-weight: 700;
    border-bottom: 3px solid var(--primaryColor2);
}

.materialTabContent[data-tab-content] {
    display: none;
}

.materialTabContent.active[data-tab-content] {
    display: block;
}


/* Mobile Phones */
@media only screen 
and (min-width: 320px) 
and (max-width: 480px) {
    .profileBio {
        padding: 1rem;
    }
    .profileBio img {
        width: 60px;
        height: 60px;
        margin-right: 1rem;
    }
    .materialTab ul li {
        padding-right: 2.65rem;
    }
    .bookingDivContainer {
        width: 100%;
    }
    .materialTab {
        margin: 2rem 0;
    }
}

.bookingDivContainer .bookingDiv {
    background-color: #fafafa;
    padding: 3rem 2rem;
}

.bookingDivContainer .bookingDiv .bookingTime {
    margin: 3rem 0;
}

.bookingDivContainer .bookingDiv .bookingTime svg {
    width: 200px;
}

.bookingDivContainer .bookingDiv h5 {
    font-family: 'Gordita Medium';
    font-size: 1.2rem;
}

.bookingDivContainer .bookingDiv .bookingDate {
    font-family: 'Gordita Medium';
}

/* Mobile Phones */
@media only screen 
and (min-width: 320px) 
and (max-width: 480px) {
    .bookingDivContainer .bookingDiv .bookingTime svg {
        width: 105px;
    }
}

/* User Registration */
.userRegistrationFormContainer {
    width: 100%;
    height: 100vh;
    background-color: #f9fcff;
    padding-top: 3rem;
}

.userRegistrationForm {
    padding: 2.2rem 2.5rem;
    width: 500px;
}

.userRegistrationForm h5 {
    font-family: 'Gordita Medium';
}

.userRegistrationForm input, .userRegistrationForm select {
    appearance: none;
    outline: none;
    width: 100%;
    padding: 0.9rem 1rem;
    border: none;
    border: 0.65px solid #d2d2d2;
    border-radius: 3px;
    font-size: 0.85rem;
    font-family: 'Gordita Medium';
    background: none;
}

.userRegistrationForm input[type="submit"] {
    color: #ffffff;
    padding: 1.1rem 1rem;
    background: var(--darkgrey);
    border: none;
    opacity: 0.935;
    transition: 0.45s;
}

.userRegistrationForm .materialFormSecButton {
    width: 100%;
    margin-top: 1.65rem;
}

.userRegistrationForm .materialFormSecButton a {
    color: var(--darkgrey);
    font-size: 0.8rem;
    display: block;
    text-align: center;
}

.userRegistrationForm .formInlineInput>div {
    width: 48%;
}

.userRegistrationForm .materialFormInput {
    margin-top: 1.05rem;
}

.userRegistrationForm .materialFormGroupInput {
    display: flex;
    justify-content: center;
    align-items: center;
}

.userRegistrationForm .materialFormGroupInput .showHideBtn {
    appearance: none;
    cursor: pointer;
    outline: none;
    padding: 0.85rem 1rem;
    border: none;
    border: 0.65px solid #d2d2d2;
    border-left: 0;
    border-radius: 0px 3px 3px 0;
}

.userRegistrationForm .materialFormGroupInput .showHideBtn {
    display: none;
}

.userRegistrationForm .materialFormGroupInput .showHideBtn.active {
    display: block;
}

.userRegistrationForm .materialFormGroupInput input {
    border-right: 0;
    border-radius: 3px 0px 0px 3px;
}

.userRegistrationForm .materialFormGroupInput svg {
    fill: #aeb5be;
    transition: 0.45s;
}

.userRegistrationForm .materialFormGroupInput svg:hover {
    fill: #656769;
}

.userRegistrationForm .inputFieldInfo {
    display: none;
    font-size: .65rem;
    color: rgb(234, 97, 97);
    padding-top: 0.6rem;
    letter-spacing: 0.35px;
    font-weight: 500;
}

.userRegistrationForm .inputFieldInfo svg {
    fill: #adadad;
    width: 15px;
}

.userRegistrationForm .inputFieldInfo span.success {
    color: rgb(0, 186, 19);
}

.userRegistrationForm.materialInputCodeDiv {
    text-align: center;
}

.userRegistrationForm.materialInputCodeDiv h5 {
    font-family: 'Gordita Medium';
}

.userRegistrationForm .materialMultipleInput {
    display: flex;
    justify-content: center;
    margin: 1rem 0;
}

.userRegistrationForm .materialMultipleInput input {
    display: inline-block;
    width: 50px;
    height: 50px;
    text-align: center;
    font-size: 1rem;
    border: 0.6px solid rgb(199, 196, 205);
    border-radius: 10px;
    margin-right: 1rem;
}

.userRegistrationForm .resendOTPButton {
    cursor: pointer;
}

