@font-face {
    font-family: 'Gordita Light';
      src: url('../fonts/Gordita Light.otf') format('opentype');
      font-weight: 400;
      font-style: normal;
}

@font-face {
    font-family: 'Gordita Regular';
      src: url('../fonts/Gordita Regular.otf') format('opentype');
      font-weight: 300;
      font-style: normal;
}

@font-face {
    font-family: 'Gordita Medium';
      src: url('../fonts/Gordita Medium.otf') format('opentype');
      font-weight: 500;
      font-style: normal;
}

@font-face {
    font-family: 'Gordita Bold';
      src: url('../fonts/Gordita Bold.otf') format('opentype');
      font-weight: 600;
      font-style: normal;
}

@font-face {
    font-family: 'Gordita Black';
      src: url('../fonts/Gordita Black.otf') format('opentype');
      font-weight: 700;
      font-style: normal;
}

:root {
    --primaryColor: #f4d7a1;
    --primaryColor2: #DCFD51;
    --secondary: #1B3839;
    --white: #ffffff;
    --light: rgba(255, 255, 255, 0.8);
    --lightgrey: #787878;
    --darkgrey: #242424;
}

body {
    font-family: 'Gordita Regular', sans-serif;
    background: #090909;
}

a {
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

p {
    margin: 0;
    font-size: 0.85rem;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-start {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.flex-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.materialButton {
    color: var(--white) !important;
    background-color: var(--darkgrey);
    padding: 1.1rem 1.35rem;
    border-radius: 4px;
    transition: 0.65s;
}

.materialButton:hover {
    transform: scale(1.05);
}

.materialNavSection {
    padding: 1.5rem 7rem;
    position: absolute;
    width: 100%;
    top: 0;
    z-index: 5;
    background-color: #090909;
}

.materialNavSection.mobile {
    display: none;
}

.materialNavSection nav img {
    width: 70px;
}

.materialNavSection ul {
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
}

.materialNavSection ul li {
    display: inline;
}

.materialNavSection li {
    font-family: 'Gordita Medium';
    font-size: 0.8rem;
    padding: 0 2rem;
    list-style-type: none;
}

.materialNavSection li:last-child {
    padding-right: 0;
}

.materialNavSection li a {
    color: var(--light);
    text-decoration: none;
    transition: color 0.35s;
}

.materialNavSection li a.active {
    color: var(--white);
}

.materialNavSection li a:hover {
    color: var(--darkgrey);
}

.materialNavSection li a.materialButton {
    font-size: 0.72rem;
    text-transform: uppercase;
    letter-spacing: 0.17em;
}

.materialNavSection.mobile {
    width: 100%;
}

.materialNavSection.mobile li {
    text-align: center;
    padding: 0 0.85rem;
}

.materialNavSection.mobile li:last-child {
    padding-right: 0;
    cursor: pointer;
}

.materialNavSection.mobile li svg {
    stroke: var(--light);
    stroke-width: 1;
}

.materialNavSection.mobile nav.dropdown {
    background-color: var(--darkgrey);
    width: 100%;
    height: 0;
    position: fixed;
    top: 100px;
    left: 0;
    z-index: 5;
    transition: 0.65s;
    overflow: hidden;
}

.materialNavSection.mobile nav.dropdown ul {
    padding: 2rem 0;
}

.materialNavSection.mobile nav.dropdown.active {
    height: 100%;
}

.materialNavSection.mobile nav.dropdown li {
    padding: 1.5rem 0;
    font-size: 1.2rem;
    font-family: 'Gordita Light';
}

.materialNavSection.mobile nav.dropdown li a {
    color: var(--white);
}

.materialNavSection.mobile nav.dropdown li a.active {
    color: var(--primaryColor);
}

/* Tablet */
@media only screen 
and (min-width: 480px) 
and (max-width: 1024px)  {
    .materialNavSection {
        display: none;
        padding: 2rem 3.5rem;

    }
    .materialNavSection nav img {
        width: 70px;
    }
    .materialNavSection.mobile {
        display: block;
    }
}

/* Mobile Phones */
@media only screen 
and (min-width: 320px) 
and (max-width: 480px) {
    .materialNavSection {
        display: none;
        padding: 1.45rem 1.5rem;
    }
    .materialNavSection.mobile {
        display: block;
    }
    .materialNavSection nav img {
        width: 60px;
    }
}




/* Main Body Right Centent */
.mainBodyRightContainer {
    display: none; 
    position: fixed;
    top: 300px;
    left: 0;
    z-index: 12;
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
    background: rgba(255, 255, 255, 0.035);
    backdrop-filter: blur( 12px );
    -webkit-backdrop-filter: blur( 12px );
}

.mainBodyRightDivCloseContainer {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 13;
    width: 100%;
    height: inherit;
    overflow-x: hidden;
}

.mainBodyRightContainer.active {
    display: block;
}

.mainBodyRightDiv {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 14;
    width: calc(100% / 1.8);
    height: 100vh;
    padding: 2.2em 2.75rem;
    background: var(--white);
    box-shadow: 0 8px 25px rgba(16, 16, 16, 0.25);
}

.mainBodyRightDivTopBar {
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 0;
}

.mainBodyRightDivTopBar svg {
    cursor: pointer;
    fill: var(--darkgrey);
    margin-right: 0.65rem;
    width: 34px;
    height: 34px;
    border-radius: 50%;
    padding: 0.15rem;
    opacity: 0.95;
    transition: 0.45s;
}

.mainBodyRightDivTopBar svg:hover {
    opacity: 1;
}

.multiSelectOptionsDiv {
    display: flex;
    flex-wrap: wrap;
}

.multiSelectOptionsDiv > label {
    flex: 49%;
    display: block;
    position: relative;
    padding-left: 30px;
    padding-bottom: 10px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 13.5px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.multiSelectOptionsDiv label input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.multiSelectOptionsDiv .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: var(--lightgrey);
    border-radius: 50%;
}

.multiSelectOptionsDiv label:hover input ~ .checkmark {
    background-color: var(--darkgrey);
}

.multiSelectOptionsDiv label input:checked ~ .checkmark {
    background-color: var(--white);
    border: 5px solid #afda00;
}

.multiSelectOptionsDiv .checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.multiSelectOptionsDiv label .checkmark input:checked ~ .checkmark:after {
    display: block;
}

.multiSelectOptionsDiv label .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

/* Tablet */
@media only screen 
and (min-width: 480px) 
and (max-width: 1024px)  {
    .mainBodyRightDiv {
        width: calc(100% / 1.2);
        height: 100vh;
    }
}

/* Mobile Phones */
@media only screen 
and (min-width: 320px) 
and (max-width: 480px) {
    .mainBodyRightDiv {
        width: calc(100% / 1.075);
        height: 100vh;
        padding: 2rem 0.95rem;
    }
    .mainBodyRightDivTopBar svg {
        width: 30px;
        height: 30px;
    }
}

/************ Hero Section ************/

.heroSection {
    margin: 7rem 0;
    padding: 6rem 7rem;
    background: #090909;
    /* background-image: url(../img/hero-bg-7.jpg);
    background-size: cover;
    background-repeat: no-repeat; */
}

.heroSection .heroDiv {
    display: flex;
    justify-content: center;
    align-items: center;
}

.heroSection .heroDiv > div:first-child {
    flex: 55%;
}

.heroSection .heroDiv > div:last-child {
    flex: 45%;
}

.heroSection .heroDiv h1 {
    color: var(--white);
    /* text-align: center; */
    font-family: 'Gordita Medium', sans-serif;
    letter-spacing: -1.5px;
    font-size: 5.25rem;
    line-height: 110.5%;
}

.heroSection .heroDiv p.heroText {
    /* text-align: center; */
    font-size: 0.93rem;
    font-family: 'Gordita Regular', sans-serif;
    color: var(--light);
    padding-top: 1.65rem;
    width: 600px;
}

.heroSection .heroDiv .heroImage img {
    width: 100%;
    border-radius: 12px;
    display: none;
}

.heroSection .heroDiv .heroImage img.desktop {
    display: block;
}
.heroSection .heroDiv .heroImage img.mobile {
    display: none;
}

.heroSection .heroDiv .imageNavControl {
    margin-top: 5rem;
}

.heroSection .heroDiv .imageNavControl svg {
    width: 50px;
}

.heroSection .heroDiv .imageNavControl > div:nth-child(2) {
    color: var(--white);
    padding: 0 1rem;
}

.heroSection .heroDiv .powered-by-div {
    margin-top: 2rem;
}

.heroSection .heroDiv .powered-by-div p {
    color: var(--lightgrey);
    font-size: 0.7rem;
    letter-spacing: 0.18em;
    text-transform: uppercase;
    display: inline;
}

.heroSection .heroDiv .powered-by-div img {
    width: 120px;
    opacity: 0.9;
    transition: 0.2s;
}

.heroSection .heroDiv .powered-by-div img:hover {
    opacity: 1;
}

.heroSection .materialBookingFormContainer {
    display: flex;
    justify-content: center;
    margin-top: 3rem;
    padding: 0 1.75rem;
}

.heroSection .bookingDateTimeContainer {
    opacity: 0.2;
}

.heroSection .bookingDateTimeContainer.active {
    opacity: 1;
}

.heroSection .materialBookingForm {
    color: var(--primaryColor4);
    width: calc(100% * 0.815);
    padding: 2.15rem 1.5rem;
    background: rgb(255, 255, 255);
    border-radius: 17px;
    margin-top: 3rem;
}

.heroSection .materialFormHeader {
    padding: 0.8rem 0;
    border-bottom: 1.35px solid #dbdbdb;

}

.heroSection .materialFormHeader h4 {
    font-family: 'Gordita Bold', sans-serif;
    color: var(--darkgrey);
    font-size: 1.25rem;
}

.heroSection .totalPriceDiv {
    display: none;
    margin-top: 1.2rem;
}

.heroSection .totalPriceDiv.active {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.heroSection .totalPriceDiv.active > div {
    flex: 49.2%;
    margin-top: 1rem;
}

.heroSection .totalPriceDiv h5 {
    font-size: 1.05rem;
    font-family: 'Gordita Medium', sans-serif;
}

.heroSection .totalPriceDiv h6 {
    font-weight: 400;
    font-size: 0.7rem;
    text-transform: uppercase;
    letter-spacing: 1.6px;
    padding-bottom: 0.65rem;
}

.heroSection .totalPriceDiv.inactive {
    display: none;
}

.heroSection .studioMembershipTimeDiv {
    padding-top: 0.45rem;
}

.heroSection p.studioMembershipTime {
    text-align: left;
    font-size: 0.85rem;
    color: var(--darkgrey);
    padding-right: 0.5rem;
}

.heroSection p.studioMembershipTimeLeft{
    font-family: 'Gordita Medium', sans-serif;
    text-align: left;
    font-size: 0.85rem;
    color: var(--darkgrey);
}

.heroSection p.studioMembershipTimeLeft span.green {
    color: #02ce54;   
}

.heroSection p.studioMembershipTimeLeft span.orange {
    color: #dd9105;   
}

.heroSection .materialBookingForm label {
    color: var(--secondaryTextColor);
    font-size: 0.95rem;
    font-weight: 400;
    margin: 0 0 6px;
    letter-spacing: -0.2px;
}

.heroSection .materialBookingForm input, .heroSection .materialBookingForm select {
    appearance: none;
    outline: none;
    width: 100%;
    padding: 0.7rem 1rem;
    border: none;
    border: 1px solid #bdbdbd;
    border-radius: 7px;
    background: var(--secBGColor);
}

.heroSection .materialModalButton {
    cursor: pointer;
    border: 1px solid #bdbdbd;
    /* text-align: center; */
    padding: 0.7rem 1rem;
    font-size: 0.92rem;
    border-radius: 3px;
    transition: 0.45s;
}

.heroSection .materialModalButton span:first-child {
    border-radius: 5px;
    background: var(--darkgrey);
    padding: 2.75px 5px;
    margin-right: 0.45rem;
}

.heroSection .materialModalButton span svg {
    width: 17px;
    height: 10px;
    padding-bottom: 1.65px;
    stroke: var(--primaryColor);
    stroke-width: 5;
}

.heroSection .subButton {
    display: none;
    cursor: pointer;
    font-size: 0.8rem;
    margin-top: 2rem;
    padding: 0.85rem 0.35rem;
    border-radius: 70px;
    background: rgba(0, 0, 0, 0.065);
    text-align: center;
    transition: 0.45s;
    width: 200px;
    font-family: 'Gordita Medium', sans-serif;
}

.subButton svg {
    stroke: var(--darkgrey);
    stroke-width: 2.35;
    width: 12px;
    margin-right: 0.6rem;
}

.heroSection .subButton.active {
    display: block;
}

.heroSection .materialBookingForm input[type="submit"] {
    color: var(--white);
    padding: 1.1rem 1rem;
    background: var(--darkgrey);
    border: none;
    opacity: 0.95;
    transition: 0.45s;
    margin-top: 2rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 3.78px;
    font-size: 0.78rem;
    font-family: 'Gordita Bold', sans-serif;
}

.heroSection .materialBookingForm input[type="submit"]:hover {
    opacity: 1;
    transform: scale(1.015);
}

.heroSection .materialBookingForm input[type="submit"][disabled] {
    opacity: 0.45;
}


/* Tablet */
@media only screen 
and (min-width: 480px) 
and (max-width: 1024px)  {
    .heroSection {
        padding: 7rem 3.5rem;
    }
    .heroSection .heroDiv {
        flex-direction: column;
    }
    .heroSection .heroDiv > div:first-child, .heroSection .heroDiv > div:last-child {
        flex: 100%;
    }
    .heroSection .heroDiv div.heroImage {
        margin-top: 3.5rem;
    }
    .heroSection .heroDiv .heroImage img.desktop {
        display: none;
    }
    .heroSection .heroDiv .heroImage img.mobile {
        display: block;
    }
    .heroSection .heroDiv p.heroText {
        font-size: 1.25rem;
        width: 650px;
    }
    .heroSection .heroDiv .imageNavControl {
        margin-top: 4rem;
    }
    .heroSection .materialBookingFormContainer {
        padding: 0;
    }
    .heroSection .materialBookingForm {
        width: 90%;
    }
}

/* Mobile Phones */
@media only screen 
and (min-width: 320px) 
and (max-width: 480px) {
    .heroSection {
        padding: 4rem 1.5rem;
        padding-bottom: 1rem;
        margin: 5rem 0;
        margin-bottom: 2rem;
    }
    .heroSection .heroDiv {
        flex-direction: column;
    }
    .heroSection .heroDiv > div:first-child, .heroSection .heroDiv > div:last-child {
        flex: 100%;
    }
    .heroSection .heroDiv .imageNavControl {
        margin-top: 2.5rem;
    }
    .heroSection .heroDiv .powered-by-div {
        margin-top: 1rem;
    }
    .heroSection .heroDiv div.heroImage {
        margin-top: 3rem;
    }
    .heroSection .heroDiv h1 {
        letter-spacing: 0.1px;
        font-size: 2.35rem;
    }
    .heroSection .heroDiv p.heroText {
        font-size: 0.96rem;
        width: auto;
    }
    .heroSection .heroDiv .imageNavControl svg {
        width: 30px;
    }
    .heroSection .heroDiv .heroImage img.desktop {
        display: none;
    }
    .heroSection .heroDiv .heroImage img.mobile {
        display: block;
    }
    .heroSection .materialBookingFormContainer {
        margin-top: 1.5rem;
        padding: 0;
    }
    .heroSection .heroDiv .powered-by-div img {
        width: 80px;
    }
    .heroSection .materialBookingForm {
        width: 100%;
        padding: 2rem 0.5rem;
    }
    .mainBodyRightDivTopBar h4 {
        font-size: 1.1rem;
    }
    .multiSelectOptionsDiv > label {
        flex: 100%;
    }
    .multiSelectOptionsDiv .checkmark {
        width: 15px;
        height: 15px;
    }
    .heroSection .materialModalButton {
        font-size: 0.73rem;
        padding: 0.7rem;
    }
    .heroSection .materialModalButton span:first-child {
        padding: 4.65px;
    }
    .heroSection .materialInputForm {
        margin: 0.5rem 0;
    }
    .mainBodyRightContainer {
        backdrop-filter: blur( 5px );
        -webkit-backdrop-filter: blur( 5px );
    }
    .materialBookingForm .container-fluid {
        padding: 0 7px;
    }
    .heroSection .totalPriceDiv {
        text-align: left;
        margin-top: 2rem;
    }
    .heroSection .totalPriceDiv.active {
        flex-wrap: wrap;
    }
}

/******** Studio Gallery **********/
.studioGallerySection {
    background-color: #ffffff;
    padding: 10rem 12rem;
    text-align: center;
}

.studioGallerySection h1 {
    padding-bottom: 8rem;
}

.studioGallerySection .studioGalleryImages {
    --gap: 16px;
    --num-cols: 4;
    --row-height: 300px;
    box-sizing: border-box;
    padding: var(--gap);
    display: grid;
    grid-template-columns: repeat(var(--num-cols), 1fr);
    grid-auto-rows: var(--row-height);
    gap: var(--gap);
}

.studioGallerySection .studioGalleryImages > img {
    border-radius: 26px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.image-grid-col-2 {
    grid-column: span 2;
}
  
.image-grid-row-2 {
    grid-row: span 2;
}

@media screen and (max-width: 1024px) {
    .studioGallerySection .studioGalleryImages {
      --num-cols: 2;
      --row-height: 200px;
    }
}


/* Tablet */
@media only screen 
and (min-width: 480px) 
and (max-width: 1024px)  {
    .studioGallerySection {
        padding: 8rem 3.5rem;
    }
    .studioGallerySection h1 {
        padding-bottom: 4rem;
    }
}

/* Mobile Phones */
@media only screen 
and (min-width: 320px) 
and (max-width: 480px) {
    .studioGallerySection {
        padding: 7rem 1.5rem;
    }
    .studioGallerySection h1 {
        padding-bottom: 2.5rem;
    }
}



/*********** Membership Section **********/

.membershipSection {
    color: var(--darkgrey);
    background-color: #FFFCF3;
    padding: 7rem;
}

.membershipSection h1 {
    font-size: 3rem;
    font-family: 'Gordita Medium', sans-serif;
    padding: 3rem 0;
}

.membershipSection .membershipDiv {
    border-radius: 15px;
    font-family: 'Gordita Bold', sans-serif;
    border: 1px solid #A8A8A8;
    padding: 3rem 2rem;
    height: 370px;
    max-height: 370px;
    margin-bottom: 2rem;
}

.membershipSection .membershipDiv img {
    width: 80px;
}

.membershipSection .membershipDiv .membershipDivContent {
    padding-top: 2.75rem;
}

.membershipSection .membershipDiv h3 {
    font-size: 1.55rem;
    font-family: 'Gordita Medium', sans-serif;
}

.membershipSection .membershipDiv p {
    padding-top: 1rem;
    font-family: 'Gordita Regular', sans-serif;
}

/* Tablet */
@media only screen 
and (min-width: 480px) 
and (max-width: 1024px)  {
    .membershipSection {
        color: var(--darkgrey);
        background-color: #FFFCF3;
        padding: 7rem 3.5rem;
    }
    .membershipSection .membershipDiv img {
        width: 120px;
    }
    .membershipSection .membershipDiv h3 {
        font-size: 1.75rem;
    }
    .membershipSection .membershipDiv p {
        padding-top: 1.55rem;
    }
}

/* Mobile Phones */
@media only screen 
and (min-width: 320px) 
and (max-width: 480px) {
    .membershipSection {
        padding: 7rem 1.5rem;
    }
    .membershipSection h1 {
        font-size: 2.25rem;
    }
    .membershipSection .membershipDiv {
        height: 420px;
        max-height: 420px;
    }
    .membershipSection .membershipDiv .membershipDivContent {
        padding-top: 2.25rem;
    }
}


/*********** Footer Section **********/
.footerSection {
    color: var(--white);
    padding: 10rem 7rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footerSection .logo img {
    width: 100px;
}

.footerSection ul {
    display: inline;
    padding: 0;
}

.footerSection li {
    list-style-type: none;
    display: inline;
    padding-left: 2rem;
}

/* Tablet */
@media only screen 
and (min-width: 480px) 
and (max-width: 1024px)  {
    .footerSection {
        padding: 10rem 3rem;
        flex-direction: column;
        text-align: center;
    }
    .footerSection p {
        padding: 2rem 0;
    }
}

/* Mobile Phones */
@media only screen 
and (min-width: 320px) 
and (max-width: 480px) {
    .footerSection {
        padding: 10rem 3rem;
        flex-direction: column;
        text-align: center;
    }
    .footerSection p {
        padding: 2rem 0;
    }
}


.bookOtherSectionDiv {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: url(../img/banner-bg.jpg);
    background-size: cover;
    padding: 2.65rem 3rem;
    margin: 0 10rem;
    border-radius: 16px;
    margin-top: -80px;
}

.bookOtherSectionDiv h1 {
    font-family: 'Gordita Medium', sans-serif;
    font-size: 1.87rem;
}

.bookOtherSectionDiv button {
    color: var(--white) !important;
    background-color: var(--darkgrey);
    padding: 1.5rem 3rem;
    border-radius: 12px;
    text-transform: uppercase;
    font-size: 0.8rem;
    letter-spacing: 3.5px;
    transition: 0.65s;
    box-shadow: none;
    border: none;
}

/* Tablet */
@media only screen 
and (min-width: 480px) 
and (max-width: 1024px)  {
    .bookOtherSectionDiv {
        flex-direction: column;
        margin: 0 5.25rem;
        margin-top: -80px;
        text-align: center;
        padding: 3.75rem 1.5rem;
    }
    .bookOtherSectionDiv h1 {
        padding-bottom: 1.2rem;
    }  
}

/* Mobile Phones */
@media only screen 
and (min-width: 320px) 
and (max-width: 480px) {
    .bookOtherSectionDiv {
        flex-direction: column;
        margin: 0 1.65rem;
        margin-top: -90px;
        padding: 2.5rem 1.5rem;
        text-align: center;
    }
    .bookOtherSectionDiv h1 {
        font-size: 1.35rem;
        padding-bottom: 1.35rem;
    }    
}




/************** Profile Bio ****************/

.profileBio {
    color: var(--white);
    margin-top: 9rem;
}

.profileBio h4 {
    font-family: 'Gordita Medium', sans-serif;
}

.profileBio p {
    color: var(--lightgrey);
}

.profileBio img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-right: 2rem;
}

.bookingDivContainer {
    width: 600px;
    padding: 1rem;
}

.materialTab {
    margin: 5rem 0;
    margin-bottom: 3rem;
}

.materialTab ul {
    list-style-type: none;
    padding-left: 0px;
    margin: 0;
}

.materialTab ul li {
    display: inline;
    padding: 0.65rem 0;
    padding-right: 4rem;
    color: var(--light);
    font-weight: 400;
    border-bottom: 0.68px solid var(--light);
    cursor: pointer;
    font-size: 0.9rem;
    font-family: 'Gordita Regular';
}

.materialTab ul li.active {
    color: var(--white);
    font-weight: 600;
    border-bottom: 2px solid var(--primaryColor2);
    font-family: 'Gordita Medium';
}

.materialTabContent[data-tab-content] {
    display: none;
}

.materialTabContent.active[data-tab-content] {
    display: block;
}


/* Mobile Phones */
@media only screen 
and (min-width: 320px) 
and (max-width: 480px) {
    .profileBio {
        padding: 1rem;
    }
    .profileBio img {
        width: 60px;
        height: 60px;
        margin-right: 1rem;
    }
    .materialTab ul li {
        padding-right: 2.65rem;
    }
    .bookingDivContainer {
        width: 100%;
    }
    .materialTab {
        margin: 2rem 0;
    }
}

.bookingDateTimeContainer {
    
}

.bookingDateTimeContainer .bookingDateTimeDiv {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bookingDateTimeContainer .bookingDateTimeDiv > div {
    padding-right: 0.8rem;
}

.bookingDateTimeContainer .bookingDateTimeDiv > div:last-child {
    padding: 0;
}

.bookingDateTimeContainer .deleteBookingDateAndTime {
    cursor: pointer;
}

.bookingDateTimeContainer .deleteBookingDateAndTime svg {
    stroke: var(--darkgrey);
    stroke-width: 1.5;
    transition: 0.35s;
}

.bookingDateTimeContainer .deleteBookingDateAndTime:hover svg {
    stroke: var(--lightgrey);
}

.bookingDivContainer .bookingDiv {
    background-color: #fafafa;
    padding: 3rem 2rem;
}

.bookingDivContainer .bookingDiv .bookingTime {
    margin: 3rem 0;
}

.bookingDivContainer .bookingDiv .bookingTime svg {
    width: 200px;
}

.bookingDivContainer .bookingDiv h5 {
    font-family: 'Gordita Medium';
    font-size: 1.2rem;
}

.bookingDivContainer .bookingDiv h6 {
    font-family: 'Gordita Medium';
    font-size: 0.8rem;
    padding: 0.5rem 0;
}

.bookingDivContainer .bookingDiv ul {
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    list-style-type: none;
}

.bookingDivContainer .bookingDiv ul > li {
    width: 100%;
    flex: 50%;
    font-size: 0.75rem;
    padding: 0.35rem 0;
}

.bookingDivContainer .bookingDiv .bookingDate {
    font-family: 'Gordita Medium';
}

/* Mobile Phones */
@media only screen 
and (min-width: 320px) 
and (max-width: 480px) {
    .bookingDivContainer .bookingDiv .bookingTime svg {
        width: 105px;
    }
}

/* User Registration */
.userRegistrationFormContainer {
    width: 100%;
    height: 100vh;
    background-color: #f9fcff;
    padding-top: 3rem;
}

.userRegistrationForm {
    padding: 2.2rem 2.5rem;
    width: 500px;
}

.userRegistrationForm h5 {
    font-family: 'Gordita Medium';
}

.userRegistrationForm input, .userRegistrationForm select {
    appearance: none;
    outline: none;
    width: 100%;
    padding: 0.9rem 1rem;
    border: none;
    border: 0.65px solid #d2d2d2;
    border-radius: 3px;
    font-size: 0.85rem;
    font-family: 'Gordita Medium';
    background: none;
}

.userRegistrationForm input[type="submit"] {
    color: #ffffff;
    padding: 1.1rem 1rem;
    background: var(--darkgrey);
    border: none;
    opacity: 0.935;
    transition: 0.45s;
}

.userRegistrationForm .materialFormSecButton {
    width: 100%;
    margin-top: 1.65rem;
}

.userRegistrationForm .materialFormSecButton a {
    color: var(--darkgrey);
    font-size: 0.8rem;
    display: block;
    text-align: center;
    font-weight: 600;
}

.userRegistrationForm .materialFormSecButton.link {
    padding-top: 0.35rem;
    padding-bottom: 0.1rem;
    text-align: right;
    margin-top: 1rem;
}

.userRegistrationForm .materialFormSecButton.link a {
    text-align: right;
    font-size: 0.75rem;
    opacity: 0.65;
    transition: 0.35s;
}

.userRegistrationForm .materialFormSecButton.link a:hover {
    opacity: 1;
}

.userRegistrationForm .formInlineInput>div {
    width: 48%;
}

.userRegistrationForm .materialFormInput {
    margin-top: 1.05rem;
}

.userRegistrationForm .materialFormGroupInput {
    display: flex;
    justify-content: center;
    align-items: center;
}

.userRegistrationForm .materialFormGroupInput .showHideBtn {
    appearance: none;
    cursor: pointer;
    outline: none;
    padding: 0.85rem 1rem;
    border: none;
    border: 0.65px solid #d2d2d2;
    border-left: 0;
    border-radius: 0px 3px 3px 0;
}

.userRegistrationForm .materialFormGroupInput .showHideBtn {
    display: none;
}

.userRegistrationForm .materialFormGroupInput .showHideBtn.active {
    display: block;
}

.userRegistrationForm .materialFormGroupInput input {
    border-right: 0;
    border-radius: 3px 0px 0px 3px;
}

.userRegistrationForm .materialFormGroupInput svg {
    fill: #aeb5be;
    transition: 0.45s;
}

.userRegistrationForm .materialFormGroupInput svg:hover {
    fill: #656769;
}

.userRegistrationForm .inputFieldInfo {
    display: none;
    font-size: .65rem;
    color: rgb(234, 97, 97);
    padding-top: 0.6rem;
    letter-spacing: 0.35px;
    font-weight: 500;
}

.userRegistrationForm .inputFieldInfo svg {
    fill: #adadad;
    width: 15px;
}

.userRegistrationForm .inputFieldInfo span.success {
    color: rgb(0, 186, 19);
}

.userRegistrationForm.materialInputCodeDiv {
    text-align: center;
}

.userRegistrationForm.materialInputCodeDiv h5 {
    font-family: 'Gordita Medium';
}

.userRegistrationForm .materialMultipleInput {
    display: flex;
    justify-content: center;
    margin: 1rem 0;
}

.userRegistrationForm .materialMultipleInput input {
    display: inline-block;
    width: 50px;
    height: 50px;
    text-align: center;
    font-size: 1rem;
    border: 0.6px solid rgb(199, 196, 205);
    border-radius: 10px;
    margin-right: 1rem;
}

.userRegistrationForm .resendOTPButton {
    cursor: pointer;
}

