@font-face {
    font-family: 'Gordita Light';
      src: url('../fonts/Gordita Light.otf') format('opentype');
      font-weight: 400;
      font-style: normal;
}

@font-face {
    font-family: 'Gordita Regular';
      src: url('../fonts/Gordita Regular.otf') format('opentype');
      font-weight: 400;
      font-style: normal;
}

@font-face {
    font-family: 'Gordita Medium';
      src: url('../fonts/Gordita Medium.otf') format('opentype');
      font-weight: 500;
      font-style: normal;
}

@font-face {
    font-family: 'Gordita Bold';
      src: url('../fonts/Gordita Bold.otf') format('opentype');
      font-weight: 600;
      font-style: normal;
}

@font-face {
    font-family: 'Gordita Black';
      src: url('../fonts/Gordita Black.otf') format('opentype');
      font-weight: 700;
      font-style: normal;
}

:root {
    --primaryColor: #f4d7a1;
    --primaryColor2:rgb(214, 154, 42);
    --white: #ffffff;
    --lightgrey: #787878;
    --darkgrey: #1d1d1d;
}

body {
    font-family: 'Gordita Regular', sans-serif;
}

a {
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

p {
    margin: 0;
    font-size: 0.85rem;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-start {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.flex-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.materialButton {
    color: var(--white) !important;
    background-color: var(--darkgrey);
    padding: 1.1rem 1.35rem;
    border-radius: 4px;
    transition: 0.65s;
}

.materialButton:hover {
    transform: scale(1.05);
}

.materialNavSection {
    padding: 1.5rem 3rem;
    position: absolute;
    width: 100%;
    top: 0;
    z-index: 5;
}

.materialNavSection.mobile {
    display: none;
}

.materialNavSection nav img {
    width: 80px;
}

.materialNavSection ul {
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.materialNavSection ul li {
    display: inline;
}

.materialNavSection li {
    font-family: 'Gordita Medium';
    font-size: 0.8rem;
    padding: 0 2rem;
    list-style-type: none;
}

.materialNavSection li:last-child {
    padding-right: 0;
}

.materialNavSection li a {
    color: var(--lightgrey);
    text-decoration: none;
    transition: color 0.35s;
}

.materialNavSection li a.active {
    color: var(--darkgrey);
}

.materialNavSection li a:hover {
    color: var(--darkgrey);
}

.materialNavSection.mobile {
    width: 100%;
}

.materialNavSection.mobile li {
    text-align: center;
    padding: 0 0.85rem;
}

.materialNavSection.mobile li:last-child {
    padding-right: 0;
}

.materialNavSection.mobile li svg {
    stroke: var(--darkgrey);
    stroke-width: 1;
}

.materialNavSection.mobile nav.dropdown {
    background-color: var(--darkgrey);
    width: 100%;
    height: 0;
    position: fixed;
    top: 100px;
    left: 0;
    z-index: 5;
    transition: 0.65s;
    overflow: hidden;
}

.materialNavSection.mobile nav.dropdown ul {
    padding: 2rem 0;
}

.materialNavSection.mobile nav.dropdown.active {
    height: 100%;
}

.materialNavSection.mobile nav.dropdown li {
    padding: 1.5rem 0;
    font-size: 1.2rem;
    font-family: 'Gordita Light';
}

.materialNavSection.mobile nav.dropdown li a {
    color: var(--white);
}

.materialNavSection.mobile nav.dropdown li a.active {
    color: var(--primaryColor);
}

/* Tablet */
@media only screen 
and (min-width: 480px) 
and (max-width: 1024px)  {
    .materialNavSection {
        display: none;
        padding: 1.75rem 2.5rem;

    }
    .materialNavSection.mobile {
        display: block;
    }
}

/* Mobile Phones */
@media only screen 
and (min-width: 320px) 
and (max-width: 480px) {
    .materialNavSection {
        display: none;
        padding: 1.45rem 1.5rem;
    }
    .materialNavSection.mobile {
        display: block;
    }
    .materialNavSection nav img {
        width: 60px;
    }
}

.profileBio {
    margin-top: 4rem;
}

.profileBio h4 {
    font-family: 'Gordita Medium';
}

.profileBio img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-right: 2rem;
}

.bookingDivContainer {
    width: 600px;
    padding: 1rem;
}

.materialTab {
    margin: 5rem 0;
    margin-bottom: 3rem;
}

.materialTab ul {
    list-style-type: none;
    padding-left: 0px;
    margin: 0;
}

.materialTab ul li {
    display: inline;
    padding: 0.65rem 0;
    padding-right: 4rem;
    color: var(--lightgrey);
    font-weight: 400;
    border-bottom: 0.68px solid #6d6d6d;
    cursor: pointer;
    font-size: 0.9rem;
    font-family: 'Gordita Medium';
}

.materialTab ul li.active {
    color: var(--primaryColor2);
    font-weight: 700;
    border-bottom: 3px solid var(--primaryColor2);
}

.materialTabContent[data-tab-content] {
    display: none;
}

.materialTabContent.active[data-tab-content] {
    display: block;
}


/* Mobile Phones */
@media only screen 
and (min-width: 320px) 
and (max-width: 480px) {
    .profileBio {
        padding: 1rem;
    }
    .profileBio img {
        width: 60px;
        height: 60px;
        margin-right: 1rem;
    }
    .materialTab ul li {
        padding-right: 2.65rem;
    }
    .bookingDivContainer {
        width: 100%;
    }
    .materialTab {
        margin: 2rem 0;
    }
}

.bookingDivContainer .bookingDiv {
    background-color: #fafafa;
    padding: 3rem 2rem;
}

.bookingDivContainer .bookingDiv .bookingTime {
    margin: 3rem 0;
}

.bookingDivContainer .bookingDiv .bookingTime svg {
    width: 200px;
}

.bookingDivContainer .bookingDiv h5 {
    font-family: 'Gordita Medium';
    font-size: 1.2rem;
}

.bookingDivContainer .bookingDiv .bookingDate {
    font-family: 'Gordita Medium';
}

/* Mobile Phones */
@media only screen 
and (min-width: 320px) 
and (max-width: 480px) {
    .bookingDivContainer .bookingDiv .bookingTime svg {
        width: 105px;
    }
}

/* User Registration */
.userRegistrationFormContainer {
    width: 100%;
    height: 100vh;
    background-color: #f4f8fe;
    padding-top: 3rem;
}

.userRegistrationForm {
    background-color: var(--white);
    padding: 2.2rem 2.5rem;
    width: 500px;
}

.userRegistrationForm input, .userRegistrationForm select {
    appearance: none;
    outline: none;
    width: 100%;
    padding: 0.9rem 1rem;
    border: none;
    border: 0.65px solid #d2d2d2;
    border-radius: 3px;
    font-size: 0.85rem;
    font-family: 'Gordita Medium';
}

.userRegistrationForm input[type="submit"] {
    color: #ffffff;
    padding: 1.1rem 1rem;
    background: var(--darkgrey);
    border: none;
    opacity: 0.935;
    transition: 0.45s;
}

.userRegistrationForm .materialFormSecButton {
    width: 100%;
    margin-top: 1.65rem;
}

.userRegistrationForm .materialFormSecButton a {
    color: var(--darkgrey);
    font-size: 0.8rem;
    display: block;
    text-align: center;
}

.userRegistrationForm .formInlineInput>div {
    width: 48%;
}

.userRegistrationForm .materialFormInput {
    margin-top: 1.05rem;
}

.userRegistrationForm .materialFormGroupInput {
    display: flex;
    justify-content: center;
    align-items: center;
}

.userRegistrationForm .materialFormGroupInput .showHideBtn {
    appearance: none;
    cursor: pointer;
    outline: none;
    padding: 0.85rem 1rem;
    border: none;
    border: 0.65px solid #d2d2d2;
    border-left: 0;
    border-radius: 0px 3px 3px 0;
}

.userRegistrationForm .materialFormGroupInput .showHideBtn {
    display: none;
}

.userRegistrationForm .materialFormGroupInput .showHideBtn.active {
    display: block;
}

.userRegistrationForm .materialFormGroupInput input {
    border-right: 0;
    border-radius: 3px 0px 0px 3px;
}

.userRegistrationForm .materialFormGroupInput svg {
    fill: #aeb5be;
    transition: 0.45s;
}

.userRegistrationForm .materialFormGroupInput svg:hover {
    fill: #656769;
}

.userRegistrationForm .inputFieldInfo {
    display: none;
    font-size: .65rem;
    color: rgb(234, 97, 97);
    padding-top: 0.6rem;
    letter-spacing: 0.35px;
    font-weight: 500;
}

.userRegistrationForm .inputFieldInfo svg {
    fill: #adadad;
    width: 15px;
}

.userRegistrationForm .inputFieldInfo span.success {
    color: rgb(0, 186, 19);
}

.userRegistrationForm.materialInputCodeDiv {
    text-align: center;
}

.userRegistrationForm.materialInputCodeDiv h5 {
    font-family: 'Gordita Medium';
}

.userRegistrationForm .materialMultipleInput {
    display: flex;
    justify-content: center;
    margin: 1rem 0;
}

.userRegistrationForm .materialMultipleInput input {
    display: inline-block;
    width: 50px;
    height: 50px;
    text-align: center;
    font-size: 1rem;
    border: 0.6px solid rgb(199, 196, 205);
    border-radius: 10px;
    margin-right: 1rem;
}

